.add-food {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.image img{
    width: 150px;
    border-radius: 5px;
}

.multiform {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-category-price {
    display: flex;
    width: 100%;
    gap: 50px;
}

.add-category-price select {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid grey;
    outline-color: tomato;
}

.multiform input, .multiform textarea {
    width: max(60%,300px);
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid grey;
    outline-color: tomato;
}

.price input {
    width: max(8vw, 80px);
}


.add-food button {
    width: max(8vw,80px);
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
}

.add-food button:hover {
    background-color: rgb(38, 38, 38);
    cursor: pointer;
}

@media (max-width:450px) {
    .multiform input, .multiform textarea{
        width: 90%;
    }
    .price input {
        width: 45px;
    }
}